.container_button{
    margin-bottom: 3rem;
}

.buttons {
    font-family: var(--font-family);
    color: var(--color-text);
    text-decoration: none;
    box-sizing: border-box;
    background-color: var(--color-button);
    font-size: 33px;

    border-radius: 20px;

    padding: 1rem;

    font-weight: bold;
    cursor: pointer;

    box-shadow: 0 3px 0 #01271E;
}

.buttons:hover {
    background-color: var(--color-button-hover);
    box-shadow: 0 3px 0 #01140F;
}