.container {
  display: flex;
  justify-content: space-around;
  padding-top: 17rem;
  padding-bottom: 12rem;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100%;
  width: 100%;
  height: 100%;
}

.avatar {
  margin-top: -6rem;
  height: 450px;
  width: 450px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.p-header {
  font-family: var(--font-family);
  color: var(--color-text);
  margin-bottom: 3rem;
  font-size: 30px;
}

.name {
  color: #044E3A;
  font-weight: bold;
}

