.container {
  bottom: 22rem;
  margin-left: 4rem;
  padding-top: 22rem;
  padding-bottom: 12rem;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}


